@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
        * {
            font-family: "Pretendard",serif;
        }

body {
    background-color: #44398a;
}

.profile {
    width: 100px;
    height: 100px;
    
    /* background-color: aquamarine; */
    border-radius: 100%;
    border : 2px solid white;

    background-image: url('profile_image.jpg');
    background-position: center;
    background-size: cover;
}

.main_text {
    color: white;
    font-size: 20px;

    margin-top: 30px;
    margin-bottom: 10px;
}

.sub_text {
    color: white;
    font-size: 14px;

    margin-top: 0px;
    margin-bottom: 30px;
}

.wrap {
    background-color: pink;
    width: 600px;
    margin: 30px auto 0px auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap > a {
    width: 300px;
    height: 50px;

    background-color: white;
    border-radius: 8px;
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: bold;
    color: #44398a;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    box-shadow: 3px 3px 5px 0px grey;
 
}

.wrap > a:hover {
    background-color:aliceblue;
    font-size: 16px;
}
